@import "./Variables.scss";

.contactUsButton {
  border-color: $primary !important;
  color: $primary !important;

  &:hover &:active {
    border-color: $primary-dark !important;
    color: $primary-dark !important;
  }
}
