@import "./Variables.scss";

.email {
  font-size: 1rem;
  text-align: center;

  i {
    color: $primary;
  }

  a {
    color: $dark-text-color;
  }
}

.version-code {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: center;
}
