@import "./Variables.scss";
.MuiFilledInput-root {
  background: white !important;
}

.MuiChip-outlined {
  background-color: $primary !important;
  color: white !important;
  border: 1px solid #d1d1d1 !important;
}

.MuiChip-root {
  height: 1.5rem !important;
}

.MuiChip-deleteIcon {
  width: 12px !important;
}

.MuiSvgIcon-root {
  color: white !important;
}

.MuiFilledInput-underline:after {
  border-bottom: 2px solid $primary !important;
}
