.card-columns {
  @media (min-width: 375px) {
    column-count: 2;
  }

  @media (min-width: 513px) {
    column-count: 3;
  }

  @media (min-width: 576px) {
    column-count: 5;
  }

  @media (min-width: 769px) {
    column-count: 6;
  }

  @media (min-width: 1024px) {
    column-count: 7;
  }

  .card {
    display: inline-block;
    width: 100%;
  }
}
