@import "./Variables.scss";

.deleteOverlay,
.dish-card-menu {
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: rgba($color: rgb(61, 60, 60), $alpha: 0.7);
  border-radius: 0.2rem;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  opacity: 0;
  z-index: -1;

  span {
    margin-top: auto;
  }

  &.show {
    opacity: 1;
    z-index: 1;
  }

  .dish-card-menu-list {
    padding: 0;
    margin: auto;
  }
}

.dish-card {
  position: relative;
  color: $dark-text-color;
}

.card-title {
  font-size: inherit;
  white-space: pre-wrap;
}

.card-with-margin {
  margin: 0.1rem;
}

.card-body {
  padding: 0.8rem;

  @media only screen and (min-width: 768px) {
    padding: 1rem;
  }
}

.fa-minus-circle {
  position: absolute;
  left: 50%;
  bottom: 0.3rem;
  transform: translate(-50%);
}

.dishLink {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: $dark-text-color;
}

.lock-dish {
  position: absolute;
  right: 0;
  padding: 0.5rem;

  .lock-border {
    border: 5px;
  }

  .lock-background {
    color: white;
  }
}

.fa-grip-vertical {
  padding: 1rem;
}

.close-extra-dish {
  position: absolute;
  right: 0;

  .close-background {
    color: white;
  }
}

.small-card {
  width: 100px;
  margin-top: 0.5rem;
  border: dashed blue 1px;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media screen and (min-width: 1024px) {
    margin-left: 100px;
  }
}

.add-to-menu-dropdown-btn {
  .btn-primary,
  .btn-primary.dropdown-toggle:hover:hover,
  .btn-primary.dropdown-toggle:active,
  .btn-primary.dropdown-toggle:focus {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 800;
    font-size: 1.1rem;
  }
}
