@import "./Variables.scss";

.local-dish {
  background: rgba(0, 0, 0, 0.3);
}

.empty-dishes {
  text-align: center;
}

.modal-header {
  background-color: $primary;
  color: white;
}

.modal-header div {
  font-size: 30px;
}

.modal {
  font-family: "Open Sans Condensed", sans-serif;
}

.modal-content {
  border: none;
}

.modal-header .close {
  color: white;
  margin-top: -0.5rem;
}

.close:hover {
  color: antiquewhite;
}

.badge-primary {
  background-color: $primary !important;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.trash {
  color: $dark-text-color;
}

.center-text {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5rem;
}

.fa-pulse {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  color: white;
}

.read-more {
  box-shadow: none;
  font-weight: 900 !important;
  font-size: 0.8rem;
  flex-grow: 1;
  text-align: start;

  &:hover {
    box-shadow: none;
  }
}

.card-footer-container {
  display: flex;
  flex-direction: row;
}

#recipe {
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.btn-modal {
  color: white;
  background-color: $primary !important;
  font-size: 0.9rem !important;
  padding: 0.3rem !important;
  border-color: $primary;
  &:hover {
    background-color: $primary-dark;
    color: white;
    border-color: $primary;
  }
}
