.filter {
  display: inline-block;
}

.filter-container {
  padding: 0px;
  height: auto;
  width: 100%;
}

.filter-check {
  margin-right: 5px;

  .form-check-input {
    margin-left: -0.9rem;
  }
}
