.filter {
  display: inline-block;
}

.filter-container {
  padding: 0px;
  height: auto;
  margin: 5px;

  .MuiButtonBase-root {
    padding-right: 5px;
  }

  .MuiCheckbox-colorSecondary {
    color: gray !important;
  }

  label {
    margin-right: 8px;
  }

  .card-body {
    padding: 0.2rem;

    span {
      font-size: 0.7rem;
    }
  }
}
