@import "./Variables.scss";

$panel-width-large: 14rem;
$panel-width-medium: 10rem;
$panel-width-small: 8rem;

.mealDisabled {
  background: rgba($primary-dark, 0.5);
}

.generateMenuContainer {
  overflow: hidden;
  width: 100vw;
  position: relative;
  padding-top: 2rem;
}

// Table
.generateMenuTable {
  overflow: auto;
  padding: 5px;
}

// Panel
.panel-wrap {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: $panel-width-small;
  margin-top: 1.9rem;
  transform: translate(100%);
  transition: 0.3s ease-out;
  background: $dark-text-color;
  &.show {
    transform: translate(0%);
  }

  &.hide {
    transform: translate(100%);
  }

  @media only screen and (min-width: 768px) {
    width: $panel-width-medium;
  }

  @media only screen and (min-width: 1024px) {
    width: $panel-width-large;
  }
}

.isDraggingOver {
  background: lightblue;
}

#generated-day {
  text-align: center;
}

/** Grid table styles **/
@import "./Variables.scss";

.wrapper {
  overflow: auto;
}

ol.collection {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.collection-container {
  overflow: scroll;
}

.attribute {
  border-bottom: 1px solid gray;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}

/* Day Header */
.collection-container > .item-container:first-child > .attribute {
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* Meal Header */
.collection-container > .item-container > div:first-child {
  background-color: $primary;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: grid;
  width: 250%;
  font-size: 0.5rem;

  @media screen and (min-width: 425px) {
    width: 190%;
  }

  @media screen and (min-width: 425px) {
    width: 190%;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    padding-right: 130px;
    padding-left: 100px;
  }
}

.burger {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  z-index: 2;

  @media screen and (min-width: 425px) {
    right: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    right: 8rem;
  }
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background-color: black;
  font-size: 8px;
}

.generate-btn {
  background-color: $primary !important;
  color: white;

  &:hover {
    background-color: $primary-dark !important;
    color: white;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 100px;
  }
}
