@import "./Variables.scss";

$panel-width-large: 25rem;
$panel-width-medium: 13rem;
$panel-width-small: 12rem;

.generateMenuContainer {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  padding-top: 0.5rem;
}

.generateMenuTable {
  overflow: scroll;
  height: 600px;
  padding: 5px;
}

.wrapper {
  overflow: auto;
}

.mealDisabled {
  background: rgba($primary-dark, 0.5);
}

// Panel
.panel-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: $panel-width-small;
  margin-top: 0.5rem;
  transform: translate(100%);
  transition: 0.3s ease-out;
  background: white;
  border: solid$dark-text-color 2px;
  &.show {
    transform: translate(0%);
  }

  &.hide {
    transform: translate(100%);
  }

  @media only screen and (min-width: 768px) {
    width: $panel-width-medium;
  }

  @media only screen and (min-width: 1024px) {
    width: $panel-width-large;
  }

  .col-md-4 {
    min-width: 100%;
    padding: 1rem;

    form {
      margin: 0 !important;
    }
  }
}

.isDraggingOver {
  background: lightblue;
}

#generated-day {
  text-align: center;
}

ol.generateMenuTable {
  margin: 0px;
  padding: 0px;

  @media screen and (min-width: 1024px) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

li {
  list-style: none;
}

.attribute {
  border-bottom: solid $primary 2px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}

/* Day + Meal Header */
.generateMenuTable > .item-container:first-child > .attribute,
.generateMenuTable > .item-container > div:first-child {
  background-color: white;
  border-top: solid $primary 2px;
  border-bottom: solid $primary 2px;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.5rem;
}

/* Last child of day header */
.generateMenuTable > .item-container:first-child > .attribute:last-child {
  border-right: solid $primary 2px;
}

/* Last child of all lists */
.generateMenuTable > .item-container > .attribute:last-child {
  border-right: solid $primary 2px;
}

/* Meal Header - specific border */
.generateMenuTable > .item-container > div:first-child {
  border-top: none;
  border-left: solid $primary 2px;
  border-right: solid $primary 2px;
}

.item-container {
  display: grid;
  width: 250%;
  font-size: 0.5rem;
}

.panel-wrapper {
  display: flex;
}

.dummy {
  flex: 1;
}

.filters-and-search {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .item-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .filters-and-search {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.menuShareLable {
  label {
    margin-top: 0.6rem;
  }
}

.search-in-pannel {
  width: 100%;
}

.meal-plan-btn,
.random-btn,
.generate-btn {
  background-color: white !important;
  border: solid $primary 2px !important;
  color: $primary;
  font-size: 0.8rem;

  &:hover,
  &:focus,
  &.focus,
  &:not(.disabled):active:active {
    background-color: white !important;
    border: solid $primary 1px !important;
    color: $primary;
    box-shadow: 0 0 0 0.06rem $primary !important;
  }
}

.btn-primary {
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.06rem $primary !important;
  }
}

.random-btn {
  background-color: white !important;
  color: $accent-color;
  border: solid $accent-color 2px !important;
  font-size: 0.7rem !important;

  &:hover,
  &:focus,
  &.focus,
  &:not(.disabled):active:active {
    background-color: white !important;
    color: $accent-color;
    border: solid $accent-color 2px !important;
    box-shadow: 0 0 0 0.06rem $accent-color !important;
  }
}
.more-btn {
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.generate-btn {
  @media screen and (min-width: 1024px) {
    margin-left: 100px;
  }
}

.generate-btn-wrapper {
  display: flex;
  flex-direction: row;
}

.extra-dish-droppable {
  max-width: 100px;
}

@media print {
  html,
  body,
  .generateMenuContainer {
    height: initial !important;
    overflow: initial !important;
  }

  .generate-menu-edit,
  .panel-handle,
  .generate-btn-wrapper,
  .fa-stack,
  .fa-minus-circle,
  .fa-grip-vertical {
    display: none !important;
  }

  .page-title {
    display: block !important;
  }

  .panel-wrap {
    transform: translate(100%) !important;
    display: none !important;
  }
  .generateMenuContainer {
    max-width: 1000px !important;
    max-height: 100% !important;
    margin: auto;
    padding-top: 30px !important;
  }

  .item-container {
    max-width: 1000px;
  }

  .generateMenuTable {
    overflow: unset;
    height: 100% !important;
  }
}

@page {
  size: auto;
  margin: 20mm;
  page-break-inside: auto;
}

// Show only in print mode
.page-title {
  display: none;
  text-align: center;
  color: $primary;
  font-size: 1.3rem;
}
