@import "./Variables.scss";

.import-dish-button {
  background: $primary !important;
  color: white !important;
  margin: 0;
  margin-top: 1rem;

  @media screen and (min-width: 576px) {
    margin-top: 0;
  }
}

.create-your-own-button {
  color: $dark-text-color;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
