@import "./Variables.scss";

#template-menu-table {
  .day-column {
    cursor: pointer;
    text-align: center;
    .form-check {
      padding: 0;
    }
  }
}

.alert {
  margin: auto;
  margin-bottom: 1rem;
  @media screen and (min-width: 769px) {
    width: 50%;
  }
}

.table {
  border: 1px solid rgb(221, 225, 229);
  width: auto;
  margin: auto;
}

.table thead th {
  border-bottom: none;
  height: 5rem;
  font-size: 1.3rem;
  padding-bottom: 27px;
}

.meal {
  font-size: 1.3rem;
}

#remove-row {
  display: none;
}

.meal-row:hover {
  #remove-row {
    display: block;
  }
}

.meal-name {
  font-size: 1.3rem;
}

.dayEnabled,
.mealEnabled {
  // background: rgb(211, 237, 218);
}

#plus-icon {
  padding-left: 16px;
}

.remove-row-wrapper {
  min-width: 37px;
  display: flex;
  justify-content: center;
}

.generate-btn {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  background-color: $primary !important;
  color: white;

  &:hover {
    background-color: $primary-dark !important;
    color: white;
  }
}

.menu-error {
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  color: red;
}

.tampleateMenuDayInput {
  width: 15px;
  padding: 0px;
  position: relative;
  margin: auto;

  &:focus {
    box-shadow: none;
  }
}
