@import "./Variables.scss";

.wrapper {
  padding-top: 3rem;
}

#template-menu-table {
  overflow-x: scroll;
  .day-column {
    cursor: pointer;
    text-align: center;
    .form-check {
      padding: 0;
    }
  }
}

.alert {
  margin-bottom: 0.5rem;
}

.table {
  position: relative;
  border: 1px solid rgb(221, 225, 229);
  width: auto;

  @media screen and (min-width: 768px) {
    margin: auto;
  }
}

.save-template-btn {
  position: absolute !important; // Added important is this was overriden by ParenRipple in production only builds
  top: -3rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.table thead th {
  border-bottom: none;
  height: 5rem;
  font-size: 1.3rem;
  padding-bottom: 27px;
}

.meal {
  font-size: 1.3rem;
}

.add-remove-meals {
  display: flex;
  flex-direction: column;

  .fa-plus-square {
    margin-bottom: 10px;
  }
}

.meal-name {
  font-size: 1.3rem;
}

#plus-icon {
  padding-left: 16px;
}

.menu-error {
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  color: red;
}

.tampleateMenuDayInput {
  width: 15px;
  padding: 0px;
  position: relative;
  margin: auto;

  &:focus {
    box-shadow: none;
  }
}
